<div ng-controller="ExpenseController">
<div class="section section-warning">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Expense
                        <font color="#777777">
                            <span style="font-size: 23.4px; line-height: 23.4px;">Your Expenses</span>
                        </font>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createExpenseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add New Expense</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="createExpenseForm" ng-submit="createExpense()">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="expenseDate" class="control-label">When?</label>
                        </div>
                        <div class="col-sm-10">
                            <input ng-model="newExpense.expenseDate" type="date" class="form-control" id="expenseDate" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="expenseItem" class="control-label">What?</label>
                        </div>
                        <div class="col-sm-10">
                            <input ng-model="newExpense.expenseItem" type="text" class="form-control" id="expenseItem">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="expenseAmount" class="control-label">HowMuch?</label>
                        </div>
                        <div class="col-sm-10">
                            <input ng-model="newExpense.expenseAmount" type="text" class="form-control" id="expenseAmount">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="expensePayment" class="control-label">How?</label>
                        </div>
                        <div class="col-sm-10">
                            <select ng-model="newExpense.expensePayment" class="form-control" id="expensePayment" ng-options="payment._id as payment.expensePaymentMode for payment in expensePayments" >
                                <option value="">Select</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="expenseCategory" class="control-label">Category</label>
                        </div>
                        <div class="col-sm-10">
                            <select ng-model="newExpense.expenseSubCategory" class="form-control" id="expenseCategory" ng-options="subcategory._id as subcategory.expenseSubCategoryName for subcategory in expenseSubCategories">
                                <option value="">Select</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="expenseRepeat" class="control-label">Repeat</label>
                        </div>
                        <div class="col-sm-10">
                            <select ng-model="newExpense.expenseRepeat" class="form-control" id="expenseRepeat" ng-options="repeat._id as repeat.expenseRepeatFrequency for repeat in expenseRepeats">
                                <option value="">Select</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">        
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-info" data-toggle="modal" data-target="#createExpenseModal" id="createExpense">Create New Expense</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" name="filterForm" ng-submit="filterExpenses()">
                            <div class="form-group">
                                <label class="control-label" for="fromDate">From Date</label>
                                <input class="form-control" id="fromDate" placeholder="mm/dd/yyyy" type="date" ng-model="filterData.fromDate">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="toDate">To Date</label>
                                <input class="form-control" id="toDate" placeholder="mm/dd/yyyy" type="date" ng-model="filterData.toDate">
                            </div>
                            <button type="submit" class="btn btn-info">Filter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="info">When?</th>
                            <th class="info">What?</th>
                            <th class="info">How Much?</th>
                            <th class="info">How?</th>
                            <th class="info">Category</th>
                            <th class="info">Repeat</th>
                            <th class="info"></th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr ng-repeat="expense in expenses" ng-show="expense._id == editModeId">
                                <td>
                                    <input type="date" class="form-control" id="editexpenseDate" name="editexpenseDate" ng-model="expense.expenseDate">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="editexpenseItem" name="editexpenseItem" ng-model="expense.expenseItem">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="editexpenseAmount" name="editexpenseAmount" ng-model="expense.expenseAmount">
                                </td>
                                <td>
                                    <select class="form-control" id="editexpensePayment" name="editexpensePayment" ng-model="expense.expensePayment" ng-options="payment._id as payment.expensePaymentMode for payment in expensePayments" >
                                        <option value="">Select</option>                                
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="editexpenseSubCategory" name="editexpenseSubCategory" ng-model="expense.expenseSubCategory" ng-options="subcategory._id as subcategory.expenseSubCategoryName for subcategory in expenseSubCategories">
                                        <option value="">Select</option>                                
                                </select>
                                </td>
                                <td>
                                    <select class="form-control" id="editexpenseRepeat" name="editexpenseRepeat" ng-model="expense.expenseRepeat" ng-options="repeat._id as repeat.expenseRepeatFrequency for repeat in expenseRepeats">
                                         <option value="">Select</option>                           
                                    </select>
                                </td>                              
                                <td>
                                    <button  class="btn btn-default-noborder" ng-click="saveExpense(expense)"><i class="fa fa-lg fa-floppy-o fa-fw text-success"></i></button>
                                    <a ng-click="toggleEditMode()"><i class="fa fa-lg fa-close fa-fw text-danger"></i></a>
                                </td>                              
                        </tr>                        
                        <tr ng-repeat="expense in expenses" ng-hide="expense._id == editModeId">
                            <td>{{expense.expenseDate | date : 'MM/dd/yyyy'}}</td>
                            <td>{{expense.expenseItem}}</td>
                            <td>{{expense.expenseAmount}}</td>
                            <td>{{expense.expensePayment.expensePaymentMode}}</td>
                            <td>{{expense.expenseSubCategory.expenseSubCategoryName}}</td>
                            <td>{{expense.expenseRepeat.expenseRepeatFrequency}}</td>
                            <td>
                                <a ng-click="toggleEditMode(expense._id)"><i class="fa fa-lg fa-edit fa-fw text-info"></i></a>
                                <a ng-click="deleteExpense(expense._id)"><i class="fa fa-lg fa-trash-o fa-fw text-danger"></i></a>
                            </td>                             
                        </tr>                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <strong>Total</strong>
                            </td>
                            <td>{{getTotal()}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>