<!--<footer class="section section-warning">-->
<footer class="section section-warning">
    <div class="container">
        <div class="row">             
            <div class="col-xs-5 col-xs-offset-1 col-sm-3">                
                <ul class="list-inline">
                    <li>Links</li>
                    <li><a ui-sref="app">Home</a></li>
                    <li><a ui-sref="app.expense">Expense</a></li>                    
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
                <p align=center>© Copyright 2017 Extrack</p>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                <div class="nav navbar-nav">                    
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-github" href="https://github.com/"><i class="fa fa-github"></i></a>
                </div>
            </div>            
        </div>
    </div>
</footer>