<div class="navbar navbar-default navbar-inverse navbar-static-top background-colorred mystyles">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="app"><span>Extrack</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-left navbar-nav mystyles">
                        <li class="active mystyles">
                            <a ui-sref="app.expense">Expense</a>
                        </li>                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="!loggedIn">
                            <a ng-click="openLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                        <li ng-if="loggedIn">
                            <a>{{username}}</a>
                        </li>
                        <li ng-if="loggedIn">
                            <a ng-click="logOut()">
                                <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>