<div class="navbar navbar-default navbar-inverse navbar-static-top background-colorred mystyles">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="app"><span>Extrack</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-left navbar-nav mystyles">
                        <li class="active mystyles">
                            <a ui-sref="app.expense">Expense</a>
                        </li>
                        <li>
                            <a ui-sref="app.expense">Income</a>
                        </li>
                        <li>
                            <a ui-sref="app.expense">Accounts</a>
                        </li>
                        <li>
                            <a ui-sref="app.expense">Budget</a>
                        </li>
                        <li>
                            <a ui-sref="app.expense">Analysis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>