    <div class="section" ng-controller="HomeController" 
         style="background-image: url({{ bgImage }});background-position: center;width: 100%;
  height: 100%; background-size: cover;">      
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-muted" style="font-size:100px;">Extrack</h1>
            <p class="lead text-warning" style="font-size:40px; color:black">
              <b>An easy expense tracker. Manage your personal expenses effortlessly.</b>
            </p>
            <b>
              <br>
              <br>
              <a class="btn btn-lg btn-primary">Register to Start Using Today!</a>
            </b>
          </div>
          <b></b>
        </div>
        <b></b>
      </div>
      <b></b>
    </div>

